---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
    <!-- <h4>Bio</h4> -->
    <p>
    I am a postdoc at Harvard Medical School working for <a href="https://sunyaevlab.hms.harvard.edu/wiki/!web/start" target="_blank">Shamil Sunyaev</a>. 
    </p>

    <p>
    I develop computational approaches, methods, and resources to study the genetic and molecular underpinnings of human disease, with a focus on neurodegeneration. I am particularly interested in understanding the impacts of genetic variation across a spectrum of varying molecular and cellular contexts. My research interests include: 
    </p>

    <p>
    <dl style="padding-left: 40px">
        <li>Mapping molecular mechanisms to endophenotypes in a context-specific manner</li>
        <!-- <li>Mapping molecular mechanisms to endophenotypes in a context-specific manner - in specific cellular states and in dysregulation or disease</li> -->
        <li>Progression, resilience, and vulnerability to neurodegeneration</li>
        <!-- <li>Modeling and understanding molecular, cellular, and individual-level progression, resilience, and vulnerability to neurodegeneration</li> -->
        <li>Convergence of disease-associated variation onto common mechanisms</li>
        <!-- <li>Understanding how Mendelian, rare, and common disease-associated variation converges onto common mechanisms</li> -->
        <li>Proximal mechanisms of disease-associated variation</li>
        <!-- <li>Understanding proximal mechanisms of disease-associated variation and linking quantitative measurements of variant effects to endophenotypes</li> -->
        <li>Learning structured representations of molecular processes</li>
        <!-- <li>Developing methods for learning structured representations of biological processes, endophenotypes, and molecular mechanisms</li> -->
    </dl>
    </p>


    <p>
    Before this, I received my Ph.D. from MIT under the supervision of <a href="http://compbio.mit.edu" target="_blank">Manolis Kellis</a> in <a href="https://csbphd.mit.edu/" target="_blank">Computational and Systems Biology</a>, where I studied disease progression and the role of DNA damage in neurodegeneration (with <a href="https://tsailaboratory.mit.edu/" target="_blank">Li-Huei Tsai</a>) and developed epigenomic references and methods for understanding gene regulation and complex disease. I received my undergraduate degree from Princeton University, where I worked with <a href="https://storeylab.org/" target="_blank">John Storey</a> on statistics for high-dimensional genomic data.
    </p>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>A full set of publications can be found on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <i><sup>‡</sup> indicates equal contribution.</i>
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
          {% include bib_simple.html paper=paper%}
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
          {% include bib_simple.html paper=paper%}
      {% endfor %}
    </div>
  </div>
</div>



<!-- ========== PROJECTS ========== --> 
<div class="docs-section" id="resources">
    <h4>Resources</h4>
    <!-- <br> -->
    <!-- Code can be found on <a href="{{ site.data.main_info.github }}" target="_blank">GitHub</a>. -->
    </p>

<!--       <ul class="tab-nav"> -->
<!--         <li><div class="button active" data-ref="#projects-all">All</div></li> -->
<!--         <!-1- <li><div class="button active" data-ref="#projects-selected">Selected</div></li> -1-> -->
<!--       </ul> -->

<!--       <div class="tab-content"> -->

<!--           <div class="tab-pane active" id="projects-all"> -->
              {% for project in site.data.projects.projects %}
              {% include project_simple.html project=project%}
              {% endfor %}
          <!-- </div> -->
      <!-- </div> -->
</div>

<!-- ========== RESUME ========== -->
<!-- <div class="docs-section" id="resume"> -->
<!--   <h4>Vitæ</h4> -->

<!--   <p>Full Resume in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p> -->

<!--   <!-1- The Timeline -1-> -->
<!--   <ul class="timeline"> -->
<!--     {% for exp in site.data.experience.experiences %} -->
<!--     <li> -->
<!--       {% if exp.category == "work" %} -->
<!--       <div class="direction-l"> -->
<!--       {% else %} -->
<!--       <div class="direction-r"> -->
<!--       {% endif %} -->
<!--         <div class="flag-wrapper"> -->
<!--           <span class="flag">{{ exp.place }}</span> -->
<!--           <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span> -->
<!--         </div> -->
<!--         <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div> -->
<!--       </div> -->
<!--     </li> -->
<!--     {% endfor %} -->
<!--   </ul> -->
<!-- </div> -->



<div class="docs-section" id="template">
    This website uses the website template and design from <a href="https://github.com/msaveski/www_personal" target="_blank">Martin Saveski</a>
</div>
