<!-- _includes/bib_simple.html -->
<div class="paper">
    <!-- <p class="title">{{ paper.title }}</p> -->
    <p class="title">
        {% if paper.website %}
        <!-- NOTE: could be better in black: -->
        <a href="{{ paper.website }}" target="_blank">{{ paper.title }}</a>
        {% else %}
        <b>{{ paper.title }}</b>
        {% endif %}
    </p>

    <p style="font-size: 1.3rem; margin-bottom: 6px" >
    <!-- {{ paper.authors }}. -->

    {% assign author_array = paper.authors | split: ", " %}
    {% assign author_array_size = author_array | size %}

    <!-- TODO parameters in config instead: -->
    {% assign max_author_limit = 10 %}
    {% assign first_author_limit = 4 %}
    {% assign last_author_limit = 3 %}
    {% assign shown_authors = first_author_limit | plus: last_author_limit %}
    {%- assign more_authors_animation_delay = -1 %}

    <!-- Fix if conflict between shown and max authors -->
    <!-- {% if shown_authors > max_author_limit %} -->
    <!-- {% endif %} -->
    {% if author_array_size > max_author_limit %}
        {% assign tail_start = author_array_size | minus: last_author_limit %}
        {% assign inner_authors_size = author_array_size | minus: shown_authors %}
        {% assign first_authors = '' %}
        {% assign more_authors_show = '' %}
        {% assign last_authors = '' %}
        <!-- Populate the first + last authors: -->
        {% for author in author_array limit: first_author_limit %}
            <!-- TODO: Allow linking co-author's web pages , see al-folio for ideas -->
            {% assign first_authors = first_authors | append: author %}
            {% assign first_authors = first_authors | append: ', ' %}
        {% endfor %}
        {% for author in author_array limit: first_author_limit offset: tail_start %}
            {% assign last_authors = last_authors | append: author %}
            {% unless forloop.last %}
                {% assign last_authors = last_authors | append: ', ' %}
            {% endunless %}
        {% endfor %}

        {%- assign more_authors = author_array_size | minus: shown_authors -%}
        {%- assign more_authors_hide = "[...]" -%}

        {{- first_authors -}}
        {% if more_authors > 0 %}
        {%- for author in author_array limit: inner_authors_size offset: first_author_limit -%}
        <!-- {% assign more_authors_show = more_authors_show | append: author.first | append: ' ' | append: author.last %} -->
            {% assign more_authors_show = more_authors_show | append: author %}
            {% unless forloop.last %}
                {% assign more_authors_show = more_authors_show | append: ', ' %}
            {% endunless %}
        {%- endfor -%}
        <span class="more-authors"
              style="border-bottom: 1px dashed;"
              title="{{- more_authors_hide -}}"
              onclick="
              var element = $(this);
              element.attr('title', '');
              var more_authors_text = element.text() == '{{ more_authors_hide }}' ? '{{ more_authors_show }}' : '{{ more_authors_hide }}';
              var ul_style = element.text() == '{{ more_authors_hide }}' ? '0px dashed' : '1px dashed';
              var cursorPosition = 0;
              element.attr('style', 'border-bottom: '+ul_style);
              // element.attr('title', more_authors_text);
              var textAdder = setInterval(function(){
                  element.html(more_authors_text.substring(0, cursorPosition + 1));
                  if (++cursorPosition == more_authors_text.length){
                      clearInterval(textAdder);
                  }
              }, '{{ more_authors_animation_delay }}');" >
              {{- more_authors_hide -}} </span>,
        {% endif %} {{ last_authors -}}
    {% else %}
        {{- paper.authors -}}
    {% endif -%}.
    <i>{{ paper.journal }}, {{ paper.year}}</i> </p> 


    <div class="paper-buttons">
        {% if paper.website %}
        <a class="button" href="{{ paper.website }}" target="_blank">HTML</a>
        {% endif %}

        {% if paper.paper_pdf %}
        <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
        {% endif %}

        {% if paper.slides %}
        <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
        {% endif %}

        {% if paper.poster %}
        <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
        {% endif %}

        {% if paper.video %}
        <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
        {% endif %}

        {% if paper.code %}
        <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
        {% endif %}

        {% if paper.data %}
        <a class="button" href="{{ paper.data }}" target="_blank">Data/Website</a>
        {% endif %}

    </div>
</div>
