<!-- _includes/bib_simple.html -->
<div class="paper">
    <p style="font-size: 1.5rem; margin-bottom: 6px" class="title"><b>{{ paper.title }}</b></p>
    <!-- <p style="font-size: 1.5rem; margin-bottom: 6px" class="title"> -->
    <!--     {% if paper.website %} -->
    <!--     <!-1- NOTE: could be better in black: -1-> -->
    <!--     <a href="{{ paper.website }}" target="_blank"><b>{{ paper.title }}</b></a> -->
    <!--     {% else %} -->
    <!--     <b>{{ paper.title }}</b> -->
    <!--     {% endif %} -->
    <!-- </p> -->

    <p style="font-size: 1.3rem; margin-bottom: 6px" >{{ paper.authors }}. <i>{{ paper.journal }}, {{ paper.year}}</i> </p> 

    <!-- complicated author logic that requires an author_array -->
    <!-- TODO: Update to use this so that I can link to co-authors -->
    <!-- <div class="author"> -->
    <!--     {% assign author_array_size = paper.author_array | size %} -->

    <!--     {% assign author_array_limit = author_array_size %} -->
    <!--     {%- if site.max_author_limit and author_array_size > site.max_author_limit %} -->
    <!--     {% assign author_array_limit = site.max_author_limit %} -->
    <!--     {% endif %} -->

    <!--     {%- for author in paper.author_array limit: author_array_limit -%} -->
    <!--     {%- assign author_is_self = false -%} -->
    <!--     {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%} -->
    <!--     {%- if site.scholar.last_name contains author_last_name -%} -->
    <!--     {%- if site.scholar.first_name contains author.first -%} -->
    <!--     {%- assign author_is_self = true -%} -->
    <!--     {%- endif -%} -->
    <!--     {%- endif -%} -->
    <!--     {%- assign coauthor_url = nil -%} -->
    <!--     {%- if site.data.coauthors[author_last_name] -%} -->
    <!--     {%- for coauthor in site.data.coauthors[author_last_name] -%} -->
    <!--     {%- if coauthor.firstname contains author.first -%} -->
    <!--     {%- assign coauthor_url = coauthor.url -%} -->
    <!--     {%- break -%} -->
    <!--     {%- endif -%} -->
    <!--     {%- endfor -%} -->
    <!--     {%- endif -%} -->

    <!--     {%- if forloop.length > 1 -%} -->
    <!--     {%- if forloop.first == false -%},&nbsp;{%- endif -%} -->
    <!--     {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%} -->
    <!--     {%- endif -%} -->
    <!--     {%- if author_is_self -%} -->
    <!--     <em>{{author.first}} {{author.last}}</em> -->
    <!--     {%- else -%} -->
    <!--     {%- if coauthor_url -%} -->
    <!--     <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a> -->
    <!--     {%- else -%} -->
    <!--     {{author.first}} {{author.last}} -->
    <!--     {%- endif -%} -->
    <!--     {%- endif -%} -->
    <!--     {%- endfor -%} -->
    <!--     {%- assign more_authors = author_array_size | minus: author_array_limit -%} -->

    <!--     {%- assign more_authors_hide = more_authors | append: " more author" -%} -->
    <!--     {%- if more_authors > 0 -%} -->
    <!--     {%- if more_authors > 1 -%} -->
    <!--     {%- assign more_authors_hide = more_authors_hide | append: "s" -%} -->
    <!--     {%- endif -%} -->
    <!--     {%- assign more_authors_show = '' -%} -->
    <!--     {%- for author in paper.author_array offset: author_array_limit -%} -->
    <!--     {%- assign more_authors_show = more_authors_show | append: author.first | append: " " | append: author.last -%} -->
    <!--     {%- unless forloop.last -%} -->
    <!--     {%- assign more_authors_show = more_authors_show | append: ", " -%} -->
    <!--     {%- endunless -%} -->
    <!--     {%- endfor -%} -->
    <!--     , and -->
    <!--     <span -->
    <!--             class="more-authors" -->
    <!--             title="click to view {{more_authors_hide}}" -->
    <!--             onclick=" -->
    <!--             var element = $(this); -->
    <!--             element.attr('title', ''); -->
    <!--             var more_authors_text = element.text() == '{{more_authors_hide}}' ? '{{more_authors_show}}' : '{{more_authors_hide}}'; -->
    <!--             var cursorPosition = 0; -->
    <!--             var textAdder = setInterval(function(){ -->
    <!--             element.text(more_authors_text.substring(0, cursorPosition + 1)); -->
    <!--             if (++cursorPosition == more_authors_text.length){ -->
    <!--             clearInterval(textAdder); -->
    <!--             } -->
    <!--             }, '{{site.more_authors_animation_delay}}'); -->
    <!--             " -->
    <!--             >{{more_authors_hide}}</span> -->
    <!--     {%- endif -%} -->
    <!-- </div> -->


    <div class="paper-buttons">
        {% if paper.website %}
        <a class="button" href="{{ paper.website }}" target="_blank">HTML</a>
        {% endif %}

        {% if paper.paper_pdf %}
        <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
        {% endif %}

        {% if paper.slides %}
        <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
        {% endif %}

        {% if paper.poster %}
        <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
        {% endif %}

        {% if paper.video %}
        <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
        {% endif %}

        {% if paper.code %}
        <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
        {% endif %}

        {% if paper.data %}
        <a class="button" href="{{ paper.data }}" target="_blank">Data/Website</a>
        {% endif %}

    </div>
</div>
